body {
  background-image: url('https://img.freepik.com/premium-vector/bitcoin-coins-flying-isolated-on-a-white-background-bitcoin-virtual-cryptocurrency-explosion-realistic-3d-vector-illustration_545793-757.jpg?w=1060');
  /* background-image: url('https://www.ccreview.co.kr/news/photo/202104/309626_134625_1830.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 35%;
  margin: 0 auto;
  background-attachment: fixed;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  font-size: 30px;
}

#banner {
  padding-top: 100px;
  width: 800x;  
  height: 100px;     
  margin: 0 auto;
}

