<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>View Coin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

    <div id="banner">
        <p>2013년</p>
        <h1>가상 화폐 조회하기</h1>
    </div>

    <br> <br>

    <div id="name_table" style="text-align:center;">
        <h3>코인 정보 보기</h3>
        <i class='fab fa-bitcoin' style='font-size:24px'></i><b> 코인 </b>
    </div>

    <div id="dashboard_div">
        <div id="candle_div" class="chart"></div>
        <div id="control_div"></div> <br/>
    </div><br/>

    <script>

        function selectCoin() {
            let data = null;
            document.getElementById("candle_div").style.width = "900px";
            document.getElementById("candle_div").style.height = "400px";
            const element = document.getElementById("minmax_div");
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    element.innerHTML = '';
                    element.innerHTML += '<button onclick="minmaxCoin()">최고가 최저가 검색</button>';
                    data = this.responseText;
                    data = JSON.parse(data)
                    google.charts.load('current', { 'packages': ['corechart', 'controls'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        let dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));
                        let programmaticSlider = new google.visualization.ControlWrapper({
                            'controlType': 'DateRangeFilter',
                            'containerId': 'control_div',
                            'options': {
                                'filterColumnLabel': 'Date',
                                'ui': { 'labelStacking': 'vertical' }
                            }
                        });
                        var programmaticChart = new google.visualization.ChartWrapper({
                            'chartType': 'CandlestickChart',
                            'containerId': 'candle_div',
                            'options': {
                                'title': document.getElementById("cointable").value,
                                'width': 900,
                                'height': 400,
                                'legend': 'none',
                            }
                        });
                        let rows = [['Date', 'Low', 'Close', 'Open', 'High']];
                        Object.keys(data).forEach(i => {
                            rows.push([new Date(data[i].date), data[i].low, data[i].close, data[i].open, data[i].high])
                        });
                        let logic = google.visualization.arrayToDataTable(rows);

                        dashboard.bind(programmaticSlider, programmaticChart);
                        dashboard.draw(logic);
                    }
                }
            };
            xhttp.open("POST", "select");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            xhttp.send("name=" + document.getElementById("cointable").value);
        }
    </script>
    <div id="minmax_div"></div>
    <br>
    <br>
    <div id="chart_div" class="select_chart"></div>
    <br> <br>

    <script>
        function minmaxCoin() {
            let data = null;
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    data = this.responseText;
                    data = JSON.parse(data)
                    google.charts.load('current', { 'packages': ['bar'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        let logic = google.visualization.arrayToDataTable([
                            ['Date', data[0].name],
                            [data[1].date_low, data[1].low],
                            [data[0].date_high, data[0].high]
                        ]);

                        let options = {
                            chart: {
                                title: data[0].name + '의 최고점과 최저점'
                            },
                            bars: 'vertical', // Required for Material Bar Charts.
                            hAxis: { format: 'decimal' },
                            height: 300,
                            colors: ['#588CF5', '#497ADC']
                        };

                        let chart = new google.charts.Bar(document.getElementById('chart_div'));

                        chart.draw(logic, google.charts.Bar.convertOptions(options));
                    }
                }
            };
            xhttp.open("POST", "minmax");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            xhttp.send("name=" + document.getElementById("cointable").value);
        }

        function selectname() {
            const element = document.getElementById("name_table");
            document.getElementById("name_table").style.margin = "100px 0 0 0";
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    data = this.responseText;
                    data = JSON.parse(data)
                    let table = '<select id="cointable">';
                    Object.keys(data).forEach(i => {
                        table = table + '<option value="' + data[i].name + '">' + data[i].name + '</option>'
                    });
                    table = table + `
                    </select>
                    <button id="selectCoin" onclick="selectCoin()">조회</button>
                    `;
                    element.innerHTML += table;
                }
            }
            xhttp.open("GET", "/intro");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            xhttp.send();
        }
        window.onload = function () {
            selectname();
        }

    </script>

</body>

</html>